@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Quicksand", sans-serif;
}
#Testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 7rem;
}
#Testimonials h2 {
    font-size: 36px;
}
.border{
    height: 3px;
    width: 120px;
    background-color: rgb(255, 0, 0);
    margin: 15px 0 30px;
}
#Testimonials .row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Testimonials .row .col {
    background-color: white;
    margin: 0 1rem;
    padding: 50px 20px;
}
#Testimonials .row .col  img{
    width: 150px;
    border-radius: 50px;
    margin-bottom: 15px;
}
#Testimonials .row .col h3 {
    font-size: 20px;
}
#Testimonials .row .col .stars{
    margin: 15px 0;
}
#Testimonials .row .col p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}